
<!DOCTYPE html>
<html>
<head>
    <link href="~/css/LogInDesign.css" rel="stylesheet" />
</head>
<body>
    <form>
        <div class="container">
            <button type="submit" asp-controller="ToDoListManagement" asp-action="CreateEditDeleteListView">ToDo Lists Management</button>
            <button type="submit" asp-controller="Home" asp-action="LogIn">Task Management</button>
        </div>
    </form>
</body>
</html>
