
<!DOCTYPE html>
<html>
<head>
    <link href="~/css/LogInDesign.css" rel="stylesheet" />
</head>
<body>
    <form>
        <div class="container">
            <label>@Logged.LoggedId</label>
            <button type="submit" asp-controller="UsersManagement" asp-action="CreateEditDeleteView"> Users's' Information</button>
            <button type="submit" asp-controller="Home" asp-action="LogIn"> All ToDoLists</button>
            <button type="submit" asp-controller="Home" asp-action="LogIn">Create Your Own ToDoList </button>
        </div>
    </form>
</body>
</html>
